<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacing Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

<!-- Interactive Rounded Sidebar Layout -->
<aside class="sidebar"> 
    <h2>Pacing</h2> 
    <div class = 'profile-section'>
        <div class = 'profile-avatar'> DI </div>
        <p>Danna Iniguez</p>
    </div>
    
    <!-- Navigation Links Menu -->
    <nav class="sidebar-menu">
        <button class = "sidebar-btn"> Profile </button>
        <button class = "sidebar-btn"> Dashboard </button>
        <button class = "sidebar-btn"> Friends </button>
        <button class = "sidebar-btn"> All Books </button>
        <button class = "sidebar-btn"> Clubs </button>
        <button class = "sidebar-btn"> Insights </button>
        <button class= 'sidebar-btn'> Settings </button>
    </nav>

    <div class= 'sidebar-footer'>
        <button class= 'signout-button'>Sign Out</button>
    </div>

</aside> 

    <main class = 'main-content'>
        <h1>Hello, Danna.</h1>
        <p>Track your reading journey🌿</p>
        <hr>

        <div class = "stats-row">
            <div class= "stat-card">
                <p class = 'stat-label'>Pages today</p>
                <p class = 'stat-number'>38</p>
                <p class = 'stat-label'>GOAL: 50</p>
            </div>

            <div class="stat-card" >
                <p class = 'stat-label'> Books in 2026</p>
                <p class = 'stat-number'> 7 </p>
                <p class = 'stat-label'> of 24 this year.</p>
            </div>

            <div class = "stat-card">
                <p class = 'stat-label'> Average pace</p>
                <p class = 'stat-number'> 24</p>
                <p class = 'stat-label'> pages per day.</p>
            </div>
        
        </div>

        <h3 style = 'margin-top: 20px;'>Currently Reading</h3>

    {% for book in books %}
    <div class="book-card">
        <p class="book-title">{{ book.title }}</p>
        <p class="book-author">{{ book.author }}</p>
        <div class="progress-track">
            <div class="progress-fill" style = 'width:{{book.current_page/book.total_pages*100}}%'></div>
        </div>
        <p class="book-progress">p. {{ book.current_page }} of {{ book.total_pages }}</p>
         <form action = '/delete/{{book.id}}' method = 'POST'>
                <button type = 'submit'>Delete</button>
            </form>
            <a href = '/edit/{{book.id}}'><button type = 'button'>Edit</button></a>
    </div>
    {% endfor %}
     
        <a href="/add_book_form"><button class = 'add-book-btn'> + Add a book</button></a>

    </main>

</body>
</html>